.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
  animation: rotateWords 21s linear infinite 0s;
}
.rw-words span:nth-child(2) {
	animation-delay: 3s;
}
.rw-words span:nth-child(3) {
	animation-delay: 6s;
}
.rw-words span:nth-child(4) {
	animation-delay: 9s;
}
.rw-words span:nth-child(5) {
	animation-delay: 12s;
}
.rw-words span:nth-child(6) {
	animation-delay: 15s;
}
.rw-words span:nth-child(7) {
	animation-delay: 18s;
}
@keyframes rotateWords {
  0% { opacity: 1; animation-timing-function: ease-in-out;; width: 0px; }
  10% { opacity: 0; width: 0px; }
20% { opacity: 1; width: 100%; }
  27% { opacity: 0; width: 100%; }
  100% { opacity: 0; }
}
